*.egg-info
dist
build

xlcalculator/__pycache__
xlcalculator/evaluator/__pycache__
xlcalculator/exceptions/__pycache__
xlcalculator/function_library/__pycache__
xlcalculator/xlcalculator_types/__pycache__
xlcalculator/model/__pycache__
xlcalculator/read_excel/__pycache__

tests/__pycache__
tests/evaluator/__pycache__
tests/exceptions/__pycache__
tests/function_library/__pycache__
tests/xlcalculator_types/__pycache__
tests/model/__pycache__
tests/read_excel/__pycache__
